* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightblue;
    gap: 50px;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
}
main {
    height: 100%;
    display: flex;
    gap: 50px;
}
#arrowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 15px;
    font-weight: bold;
}
h1 {
    display: flex;
    justify-content: center;
    color: white;
}
.row {
    display: flex;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
}
#mazeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    max-width: 100%;
}

#up,
#left,
#right,
#down {
    background: grey;
    border: none;
    border-radius: 50%;
    mask-size: cover;
    mask-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

#up:hover,
#left:hover,
#right:hover,
#down:hover {
    cursor: pointer;
    background: black;
}

#up {
    mask-image: url(../images/up.svg);
}

#left {
    mask-image: url(../images/left.svg);
}

#right {
    mask-image: url(../images/right.svg);
}

#down {
    mask-image: url(../images/down.svg);
}

#reload {
    padding: 30px;
    font-size: 20px;
}
